<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ff.dao.CompactMapper">
    <insert id="insert" parameterType="java.util.List">
        insert into compact(contract_sign_year, item_coding, sale_person, project_name,
        contract_amount, invoice_amount_2015, recovered_amount_2015, invoice_amount_2016,
        recovered_amount_date_2016, recovered_amount_2016, invoice_amount_2017,
        recovered_amount_date_2017, recovered_amount_2017, invoice_amount_2018,
        invoice_amount_date_2018, recovered_amount_2018,recovered_amount_date_2018, due, invoice_amount,
        unbilled_amount, receivable_total)
        VALUES
        (#{contractSignYear},#{itemCoding},#{salePerson},#{projectName},#{contractAmount},
        #{invoiceAmount2015},#{recoveredAmount2015},#{invoiceAmount2016},
        #{recoveredAmountDate2016},#{recoveredAmount2016},#{invoiceAmount2017},
        #{recoveredAmountDate2017},#{recoveredAmount2017},
        #{invoiceAmount2018},#{invoiceAmountDate2018},#{recoveredAmount2018},#{recoveredAmountDate2018},#{due},
        #{invoiceAmount},#{unbilledAmount},#{receivableTotal})
    </insert>

    <!-- SQL片段 ,达到重复利用的目的-->
    <sql id="selectCompactListWhere">
        <where>
            <if test="contractSignYear != null and contractSignYear !=''">
                AND contract_sign_year LIKE
                CONCAT('%', #{contractSignYear}, '%')
            </if>
            <if test="itemCoding != null and itemCoding !=''">
                AND item_coding LIKE
                CONCAT('%', #{itemCoding}, '%')
            </if>
            <if test="salePerson != null and salePerson !=''">
                AND sale_person LIKE
                CONCAT('%', #{salePerson}, '%')
            </if>
        </where>
    </sql>


    <select id="selectCompactList" resultType="com.ff.model.Compact">
        SELECT
        *
        FROM compact
        <include refid="selectCompactListWhere"/>
        ORDER BY contract_sign_year,sale_person DESC
        <if test="start!=null and rows!=null">
            limit #{start},#{rows}
        </if>
    </select>

    <select id="selectCompactListCount" parameterType="Compact" resultType="Integer">
        select count(*) from compact
        <include refid="selectCompactListWhere"/>
    </select>

    <delete id="delete">
        DELETE FROM compact WHERE id = #{id}
    </delete>




</mapper>